/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2015, 1:24:00 PM
    Author     : abuhapsin
*/

.logo-kiri{
    min-width: 100%;
    min-height: 20%;
    background-color: @b1;
    background-image: url('../asset/img/big-logo.png') ;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.img-user{
    margin:4%;
    border-radius:50px;
    max-width: 55px;
    float: left;
}
.img-sm{
    max-width: 64px;
    width:32px;
}